<head>
  <title>404</title>
  <link rel="stylesheet" href="/stylesheets/errorstyle.css" />
</head>

<body>
  <div id="oopss">
    <div id="error-text">
      <span>404</span>
      <!-- <h1><%= message %></h1>
      <h2><%= error.status %></h2>
      <pre><%= error.stack %></pre> -->
      <p>PAGE NOT FOUND</p>
      <p class="hmpg"><a href="/" class="back">Back To Home</a></p>
    </div>
  </div>
</body>
