<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Show</title>
    <link rel="stylesheet" href="/stylesheets/productshow.css" />
</head>

<body>
    <% products.forEach(product => { %>
        <div class="card-container">
            <div class="card">
                <img src="/images/laptop.png" alt="<%= product.name %> Image" />
                <div class="card-content">
                    <h2><%= product[0] %></h2>
                    <p><%= product[1] %></p>
                    <p><%= product[2] %></p>
                    <a class="btn" href="/">Read More</a>
                </div>
            </div>
        </div>
    <% }); %>
</body>

</html>
