  <header class="header">
    <div class="logo">
      <a href="/">Home</a>
      <div class="search_box">
        <form action="/user" method="post">
            <input type="text" placeholder="Search Infomation">
            <i class="fas fa-search"></i>
        </form>
      </div>
    </div>

    <div class="header-icons">
      <i class="fas fa-bell"></i>
      <div class="account">
        <img src="./pic/img.jpg" alt="">
        <h4><%= username %></h4>
         <a style="display: flex;" href="/logout">Logout</a>
      </div>
    </div>
  </header>