<span style="font-family: verdana, geneva, sans-serif;"><!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <title>Cashier | Delete Purchase</title>
      <!-- <link rel="stylesheet" href="style.css" /> -->
      <!-- Font Awesome Cdn Link -->
      <link rel='stylesheet' href='/stylesheets/cashier/header_style.css' />
      <link rel='stylesheet' href='/stylesheets/cashier/search_record.css' />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-0b12LiiKvOWTUO9oGBaXFsrtS0EGGJRqOk9ksO9WZPiFEwy5GehJ3V1zzfejk5K6aaVJT0rrIya1ZxEjHejj9Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
      <%- include("./headers.ejs") %>
      <div class="container">
        <nav>
          <div class="side_navbar">
            <span>Main Menu</span>
            <a href="/cashier/dashboard">Dashboard</a>
            <a href="/profile">Profile</a>
            <a href="/cashier/cash_memo">Make Purchase</a>
            <a href="/cashier/search_record">Search Records</a>
            <a href="/cashier/delete-purchase" class="active">Delete Purchase</a>
            <!-- <a href="#">My Account</a>
            <a href="#">Documnets</a> -->
    
            <!-- <div class="links">
              <span>Quick Link</span>
              <a href="#">Paypal</a>
              <a href="#">EasyPay</a>
              <a href="#">SadaPay</a>
            </div> -->
          </div>
        </nav>
    
        <div class="main-body">
        <h2>Delete Purchase</h2><br><br>
        <form action="/cashier/delete-purchase" method="POST" id="delete_purchase">
            <label for="purchase_id">Purchase ID:</label>
            <input type="text" id="purchase_id" name="purchase_id" required>
            <button type="submit">Cancel Purchase</button>
        </form>
          <!-- <div class="promo_card">
            <h1>Welcome to EasyPay</h1>
            <span>Lorem ipsum dolor sit amet.</span>
            <button>Learn More</button>
          </div> -->
    
         
        </div>
      </div>
      <div class="popup-container" id="popupContainer">
        <div class="popup-content" id="general_popup_content">
          <span><u>Order Info:</u> </span>
          <div class="info" id="orderPopup">
            <div class="placeholders">
              <ul>
                <li>Purchase Id: </li>
                <li>Date: </li>
                <li>Time: </li>
              </ul>
            </div>
            <div class="place-value">
              <ul class="place-list" id="order_value_list"></ul>
            </div>
          </div> <br><br>
          <span><u>Customer Info:</u> </span>
          <div class="info" id="customerPopup">
            <div class="placeholders">
              <ul>
                <li>Name: </li>
                <li>Email: </li>
                <li>Number: </li>
              </ul>
            </div>
            <div class="place-value">
              <ul class="place-list" id="customer_value_list"></ul>
            </div>
          </div> <br><br>
          <span>Purchase Info: </span>
          <div class="product-info" id="productInfo">
            <table id="products_table">
              <!-- <caption>Purchase Info:</caption> -->
              <thead>
                <tr>
                  <th>SL</th>
                  <th>Product Name</th>
                  <th>Price pp</th>
                  <th>Quantity</th>
                  <th>Cost</th>
                </tr>
              </thead>
              <tbody></tbody>
              <tfoot></tfoot>
            </table>
          </div>
          <div id="accessibility">
            <button type="button" onclick="cancelPurchase()">Cancel purchase</button>
            <!-- <button type="button" onclick="confirmPurchase()">Confirm</button> -->
          </div>
        </div>
    </div> 
      
    <script src="/javascripts/searchRecords.js"></script>
    <script>
        document.getElementById("delete_purchase").addEventListener('submit', async function(event){
            event.preventDefault();
            let purchase_id = document.getElementById("purchase_id").value;
            await populatePopup(purchase_id);
            document.getElementById("popupContainer").style.display = "block";
        })
        
        async function cancelPurchase(){
            let purchase_id = document.getElementById("purchase_id").value;
            let message = await deleteSinglePurchase(purchase_id);
            alert(message);
            window.location.href = "/cashier/dashboard";
        }
    </script>
    </body>
    </html>
    </span>